<div id="footer" class="panel">
  <div class="panel-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">

          <p>&copy 2025 LIVIA-ETS Lab. </a></p>
              


           <p>  </p><p>


        </div>
        <div class="col-sm-4">
        <p>We are part of the <a href="https://www.etsmtl.ca/">École de technologie supérieure (ÉTS)</a>, <a href="https://www.uquebec.ca/">Université du Québec</a>. The laboratory is dedicated to research in computer vision, machine learning, and artificial intelligence.</p>
        </div>
        <div class="col-sm-4">
          Contact:<br />
          1100 Notre-Dame St W<br />
          Montreal, QC H3C 1K3<br />
          Canada <br />
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
