<div id="footer">
  <div class="panel-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-5">
          <span class="foot-brand">LIVIA</span>
          <p>Laboratoire d'Imagerie, de Vision et d'Intelligence Artificielle — a computer vision, machine learning &amp; AI research lab at the École de technologie supérieure (ÉTS), Université du Québec, Montréal.</p>
          <a href="https://www.etsmtl.ca/" target="_blank" rel="noopener" class="foot-ets">
            <img src="{{ site.url }}{{ site.baseurl }}/images/brand/ets-logo.svg" alt="École de technologie supérieure (ÉTS)" />
          </a>
        </div>
        <div class="col-sm-3">
          <h5>Explore</h5>
          <p>
            <a href="{{ site.url }}{{ site.baseurl }}/">Home</a><br />
            <a href="{{ site.url }}{{ site.baseurl }}/team">Team</a><br />
            <a href="{{ site.url }}{{ site.baseurl }}/datasets">Datasets</a><br />
            <a href="{{ site.url }}{{ site.baseurl }}/vacancies">Join Us</a><br />
            <a href="https://www.etsmtl.ca/en/labs/livia" target="_blank" rel="noopener">ÉTS · LIVIA</a>
          </p>
        </div>
        <div class="col-sm-4">
          <h5>Contact</h5>
          <p>
            Pavillon Principal (A), Room A-3600<br />
            1100 Notre-Dame St W<br />
            Montréal, QC H3C 1K3, Canada<br />
            <a href="mailto:eric.granger@etsmtl.ca">eric.granger@etsmtl.ca</a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 foot-bottom">
          &copy; {{ site.time | date: '%Y' }} LIVIA — ÉTS, Université du Québec. All rights reserved.
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
